@import url(styles.css);

.discover {
    grid-area: 2/5/2/7;
    /* grid-area: 2; */
}

.daillies {
    grid-area: 2/1/2/5;
    /* grid-area: 2; */
}

.content {
    padding: 0 var(--left-right-spacing);
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.trendings {
    margin-top: 45px;
    height: auto;

    grid-column: 1/7;
    /* order: 0; */
}

.article-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);

    gap: 0 80px;

    counter-reset: item;
}

.article {
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* margin-bottom: -70px;z */
}

.article-rank {
    font-size: 2rem;
}
.article-rank::before {
    content: counter(item);
    counter-increment: item;
}

.metadata {
    display: flex;
    color: grey;
    font-size: 12px;
}

.dot-divider {
    width: 4px;
    height: 4px;
    background-color: grey;
    margin: auto 10px;
    border-radius: 50%;
}

.title {
    font-weight: bold;
    font-size: 17px;

    margin-top: 0;
    margin-bottom: 0;
}

.trendings>p {
    margin-bottom: -20px;
}

.profile {
    font-size: 14px;
    margin-bottom: -10px;
}

.tags {
    width: auto;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
.tags li {margin: .75rem .5rem .75rem 0;
    display: block;
}