@import url(styles.css);


footer {
    display: none;

    grid-area: 4/1/5/7;

    background-color: var(--white);
}

footer>section {
    padding: 0 var(--left-right-spacing);

    height: 124.6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .circle {
    background-color: black;
}

.logo-text, .footer-link {
    color: black;
    margin-top: 15px;
}

.logo-text {
    margin: 0;
}

footer li {
    display: block;
    margin-right: 1rem;
}

footer ul {
    display: flex;
    padding: 0;
    margin: 0;
}