@import url(styles.css);

.logo-container {
    display: flex;
    align-items: center;
    height: auto;
}

.logo-container>p {
    font-size: 35px;
}

.logo {
    display: flex;
    width: 45px;
    height: 25px;
    padding: 5px;
  }
  
.circle {
    margin: 0.5px;  
    background-color: var(--white);    
    height: 100%;   
    border-radius: 50%; 
}

.big {
    width: 100%;    
}

.medium {
    width: 50%; 
}

.small {
    width: 25%; 
}