@import url(styles.css);

header {
    position: fixed;
    width: 100vw;
}

nav {
    /* background-color: #003fe8 */
    color: var(--white);
    height: 75px;
    /* width: 80vw; */
    backdrop-filter: blur(200px);

    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;

    padding: 0 var(--left-right-spacing);
}

nav ul {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav li {
    display: block;
    margin-left: 2rem;
}