:root {
    --left-right-spacing: 12%;
    
    --white: #EAEAEA;
    --blue: #003fe8;
    --purple: #a354a5;

    /* Font Sizes */
    --font-size-xs: 13px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;

    --font-size-xxxl: 106px;
}

body {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: black;
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
    /* width: auto; */
}

.button {
    background-color: var(--white);
    color: black;

    text-align: center;

    padding: .5rem 1rem .5rem 1rem;

    border-radius: 1rem;
}

/* LOGO */

.logo-container {
    display: flex;
    align-items: center;
    height: auto;
}

.logo-container>p {
    font-size: 35px;
}

.logo {
    display: flex;
    width: 45px;
    height: 25px;
    padding: 5px;
  }
  
.circle {
    margin: 0.5px;  
    background-color: var(--white);    
    height: 100%;   
    border-radius: 50%; 
}

.big {
    width: 100%;    
}

.medium {
    width: 50%; 
}

.small {
    width: 25%; 
}

/* NAVBAR */

header {
    position: fixed;
    width: 100vw;
}

nav {
    /* background-color: #003fe8 */
    color: var(--white);
    height: 75px;
    /* width: 80vw; */
    backdrop-filter: blur(200px);

    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;

    padding: 0 var(--left-right-spacing);
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 0;
    height: 100%;
}

.nav-links li  {
    display: block;
    margin-left: 2rem;
    font-size: var(--font-size-sm);
}

/* HERO SECTION */

.hero {
    display: flex;
    background-color: var(--blue);
    justify-content: space-between;
    min-height: 454px;

    border-bottom: solid 1px black;
    padding: 0 var(--left-right-spacing);

    padding-top: 75px;
    padding-bottom: 15px;
}

.text-content {
    color: var(--white);
    width: 100%;
    flex-direction: column;
}

.text-content h1 {
    font-size: var(--font-size-xxxl);
    margin-bottom: 25px;
}

.text-content p {
    font-size: var(--font-size-xl);
    width: 440px;
    margin-top: 0;
    margin-bottom: 50px;
}

.text-content .button {
    padding: 0.5rem 3.5rem;
    font-size: var(--font-size-lg);
    height: 2.5rem;
    
    border-radius: 2rem;
}

/* CONTENT */

.content {
    padding: 0 var(--left-right-spacing);

    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
}

.section-header {
    font-size: var(--font-size-md);
}

.trendings {
    margin-top: 45px;
    height: auto;

    grid-column: 1/-1;
}

.article-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    gap: 0 80px;

    counter-reset: item;
}

.trendings .article {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.article-rank {
    font-size: 2rem;
    font-weight: 900;
}
.article-rank::before {
    content: "0" counter(item);
    counter-increment: item;
}

.metadata {
    display: flex;
    color: grey;
    font-size: var(--font-size-xs);
}

.dot-divider {
    width: 4px;
    height: 4px;
    background-color: grey;
    margin: auto 10px;
    border-radius: 50%;
}

.trendings .title {
    font-weight: bold;
    font-size: var(--font-size-md);

    margin-top: 0;
    margin-bottom: 0;
}

.trendings>p {
    margin-bottom: -20px;
}

.profile {
    margin-bottom: -10px;
}

.profile-name {
    font-size: var(--font-size-xs);
}

.dailies {
    grid-row: 2/2;
    grid-column: 1/1;
}

.right-container {
    top: 75px;
    
    position: sticky;
    align-self: start;
    
    grid-row: 2/2;
    grid-column: 2/2;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    row-gap: 2rem;
}

.tags {
    width: auto;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

.tags li {
    margin: .75rem .5rem .75rem 0;
    display: block;

    font-size: var(--font-size-sm);
}

.discover-more {
    color: var(--purple);
    font-size: var(--font-size-sm);
}

.footer-menu-links {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
}

.footer-menu-links li {
    display: block;
    margin-right: 1.5rem;

    font-size: var(--font-size-sm);
}

/* DAILIES */

.dailies .title{
    font-size: var(--font-size-lg);
    font-weight: 1000;
    margin-bottom: 10px;
}

.dailies .preview {
    margin-top: 0;
    margin-bottom: 0;

    font-size: var(--font-size-md);
}

/* FOOTER SECTION */

footer {
    display: none;

    grid-area: 4/1/5/7;

    background-color: var(--white);
}

footer>section {
    padding: 0 var(--left-right-spacing);

    height: 124.6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .circle {
    background-color: black;
}

.logo-text, .footer-link {
    color: black;
    margin-top: 15px;
}

.logo-text {
    margin: 0;
}

footer li {
    display: block;
    margin-right: 1rem;

    font-size: var(--font-size-xs);
}

footer ul {
    display: flex;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1001px)  { 
    .right-container {
        grid-area: 2/-1;
        position: relative;
        display: block;
        top: 0;
    }

    .dailies {
        grid-area: 3/-1;
    }

    .trendings {
        grid-area: 1/-1;
    }

    footer {
        display: block;
    }

    .footer-menu {
        display: none;
    }
}